@using Entities
@using Business

@code {
    List<ProductEntity> products = new List<ProductEntity>();
    List<ProductEntity> tempproducts = new List<ProductEntity>();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    string message;

    protected override async Task OnInitializedAsync()
    {
        products = B_Product.ProductList();
        tempproducts = products;
        categories = B_Category.CategoryList();
    }

    //filtro
    private void CategoryChanged(ChangeEventArgs e)
    {
        //message = e.Value.ToString();
        tempproducts = products.Where(c => c.CategoryId == e.Value.ToString()).ToList();    //la categoria discrimira el id de la categoria
    }
    
    //eliminar
    private void DeleteProduct(ProductEntity product)
    {
        B_Product.DeleteProduct(product);
        products = B_Product.ProductList();
        tempproducts = products;
    }
}

<h1 class="text-center"> Lista de productos</h1>

<div class="row">
    <div class="col-2">
        <select class="form-select" @onchange="CategoryChanged">
            <option Selected>Categorias</option>
            @foreach(var category in categories)
            {
                <option class="dropdown-item" value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>

    <div class="col-2 offset-7">
	    <a href="product/create" type="button" class="btn btn-primary">Crear producto</a>
    </div>
</div>

<table class="table table-hover">
	<thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Referencia</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col">Cantidad en bodega</th>
          <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @{
            int i = 1;
            foreach(var product in tempproducts){
                <tr>
                    <th scope="row">@i</th>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.CategoryId</td>
                    <td>@product.TotalQuantity</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="product/update/@product.ProductId" role="button">Editar</a>
                        <a class="btn btn-outline-danger btn-sm" @onclick="(() => DeleteProduct(product))" role="button">Eliminar</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
@message